#sidebar
{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s ease;

}
#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

#sidebar a:hover {
  color: #f1f1f1;
}

#butt
{
  margin: 0px;
  padding: 0px;
  border: 0px none ;
  position: fixed;
  top: 0;
  transition: right 0.5s ease;
  font-size: 25px;
  cursor: pointer;
  width: 35px;
}

.close-sideB{
  width: 0;
}

.open-sideB
{
  width: 160px;
}

.close{
  right: 0px;
}

.open{
  right: 160px;
}